* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black !important;
    font-family: "Roboto", sans-serif;

}

a {
    text-decoration: none;
}

/* web code */
/* nav */
.navbar {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul li {
    list-style: none;
    padding: 5px 10px;
    display: inline-block;
    flex-wrap: wrap;
}

.nav a {
    text-transform: uppercase;
}

.nav-first,
.nav-items a:hover {
    color: #F51F4A !important;
}

/* row1 */
.row1 {
    background-image: url(./images/home-banner.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.row1-text h3 {
    font-size: 15px;
    text-transform: uppercase;
}

.row1-text h5 {
    margin-bottom: 25px;
    margin-top: 10px;
}

.row1-text h5 {
    font-size: 40px;
    text-transform: capitalize;
}

.row1-text a {
    background-color: #F51F4A;
    border: 2px solid #F51F4A;
    color: white !important;
    padding: 15px 20px;
    font-weight: bold !important;
}
.row1-form>a{
    background-color: #F51F4A;
    border: 2px solid #F51F4A;
    color: white !important;
    padding: 15px 20px;
    font-weight: bold !important;
}
.row1-text a:hover {
    background-color: transparent;
}

/* row1 form */
.row1-form {
    padding: 10px 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.row1-btn{
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    color: gray !important;
    padding:  10px ;
    border: 2px solid gray;
}

.fa-solid,.row1-form span{
    color: gray !important;
}
